@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a></li>
    </ul>
    }
}
else
{
    <div class="nav navbar-nav navbar-right">
        @Html.ActionLink("Register", "Regístrate", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", Class ="btn2" })
        @Html.ActionLink("Log in", "Iniciar Sesión", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", Class ="btn"  })
    </div>
}


