
@{
    ViewBag.Title = "Index";
}


<div class="col w100 text-center degradado">

	<div class="col w100 text-center">
		<p class="titulos" style="color:#fff;"> Mi Orden </p>
	</div>

</div>






<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"
		src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript'
		src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

	OpenPay.setId('mzdtln0bmtms6o3kck8f');
	OpenPay.setApiKey('pk_f0660ad5a39f4912872e24a7a660370c');
	OpenPay.setSandboxMode(true);
	//Se genera el id de dispositivo
	var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceIdHiddenFieldName");

	$('#pay-button').on('click', function(event) {
		event.preventDefault();
		$("#pay-button").prop( "disabled", true);
		OpenPay.token.extractFormAndCreate('payment-form', sucess_callbak, error_callbak);
	});

	var sucess_callbak = function(response) {
	  var token_id = response.data.id;
	  $('#token_id').val(token_id);
	  $('#payment-form').submit();
	};

	var error_callbak = function(response) {
		var desc = response.data.description != undefined ? response.data.description : response.message;
		alert("ERROR [" + response.status + "] " + desc);
		$("#pay-button").prop("disabled", false);
	};

});
</script>

<style>

	/** {
		color: #444;
		font-family: Lato;
		font-size: 16px;
		font-weight: 300;
	}*/
	::-webkit-input-placeholder {
	   font-style: italic;
	}
	:-moz-placeholder {
	   font-style: italic;
	}
	::-moz-placeholder {
	   font-style: italic;
	}
	:-ms-input-placeholder {
	   font-style: italic;
	}

	/*body {
		float: left;
		margin: 0;
		padding: 0;
		width: 100%;
	}*/
	strong {
		font-weight: 700;
	}
	/*a {
		cursor: pointer;
		display: block;
		text-decoration: none;
	}*/
	a.button {
		border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		text-align: center;
		font-size: 21px;
		font-weight: 400;
		padding: 12px 0;
		width: 100%;
		display: table;
		background: #E51F04;
		background: -moz-linear-gradient(top,  #E51F04 0%, #A60000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E51F04), color-stop(100%,#A60000));
		background: -webkit-linear-gradient(top,  #E51F04 0%,#A60000 100%);
		background: -o-linear-gradient(top,  #E51F04 0%,#A60000 100%);
		background: -ms-linear-gradient(top,  #E51F04 0%,#A60000 100%);
		background: linear-gradient(top,  #E51F04 0%,#A60000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E51F04', endColorstr='#A60000',GradientType=0 );
	}
	a.button i {
		margin-right: 10px;
	}
	a.button.disabled {
		background: none repeat scroll 0 0 #ccc;
		cursor: default;
	}
	.bkng-tb-cntnt {
		display:inline-block;
		width: 800px;
		margin:50px 0px;
	}
	.bkng-tb-cntnt a.button {
		color: #fff;
		float: right;
		font-size: 18px;
		padding: 5px 20px;
		width: auto;
	}
	.bkng-tb-cntnt a.button.o {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		color: #e51f04;
		border: 1px solid #e51f04;
	}
	.bkng-tb-cntnt a.button i {
		color: #fff;
	}
	.bkng-tb-cntnt a.button.o i {
		color: #e51f04;
	}
	.bkng-tb-cntnt a.button.right i {
		float: right;
		margin: 2px 0 0 10px;
	}
	.bkng-tb-cntnt a.button.left {
		float: left;
	}
	.bkng-tb-cntnt a.button.disabled.o {
		border-color: #ccc;
		color: #ccc;
	}
	.bkng-tb-cntnt a.button.disabled.o i {
		color: #ccc;
	}
	.pymnts {
		float: left;
		width: 800px;
	}
	.pymnts * {
		float: left;
	}

	.sctn-row {
		margin-bottom: 35px;
		width: 800px;
	}
	.sctn-col {
		width: 375px;
	}
	.sctn-col.l {
		width: 425px;
	}
	.sctn-col input {
		border: 1px solid #ccc;
		font-size: 14px;
		line-height: 24px;
		padding: 5px 5px;
		width: 333px;
	}
	.sctn-col label {
		font-size: 22px;
    line-height: 22px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
	}
	.sctn-col.x3 {
		width: 300px;
	}
	.sctn-col.x3.last {
		width: 200px;
	}
	.sctn-col.x3 input {
		width: 210px;
	}
	.sctn-col.x3 a {
		float: right;
	}
	.pymnts-sctn {
		width: 800px;
	}
	.pymnt-itm {
		margin: 0 0 3px;
		width: 800px;
	}
	.pymnt-itm h2 {
		background-color: #e9e9e9;
		font-size: 24px;
		line-height: 24px;
		margin: 0;
		padding: 28px 0 28px 20px;
		width: 780px;
	}
	.pymnt-itm.active h2 {
		background-color: #29ABE2;
		color: #fff;
		cursor: default;
		width:100%;
	}
	.pymnt-itm div.pymnt-cntnt {
		display: none;
	}
	.pymnt-itm.active div.pymnt-cntnt {
		background-color: #f7f7f7;
		display: block;
		padding: 0 0 30px;
		width: 100%;
	}

	.pymnt-cntnt div.sctn-row {
		margin: 20px 30px 0;
		width: 740px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col {
		width: 345px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col.l {
		width: 395px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col input {
		width: 303px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col.half {
		width: 155px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
		float: left;
		width: 190px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col.half input {
		width: 113px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
		background-image: url("../../img/openpay/cvv.png");
		background-position: 156px center;
		background-repeat: no-repeat;
		padding-bottom: 30px;
	}
	.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
		width: 110px;
	}
	.openpay {
		float: right;
		height: auto;
		margin: 10px 30px 0 0;
		width: 435px;
	}
	.openpay div.logo {
		background-image: url("../../img/openpay/openpay.png");
		background-position: left bottom;
		background-repeat: no-repeat;
		border-right: 1px solid #ccc;
		font-size: 12px;
		font-weight: 400;
		height: 71px;
		padding: 15px 20px 0 0;
	}
	.openpay div.shield {
		background-image: url("../../img/openpay/security.png");
		background-position: left bottom;
		background-repeat: no-repeat;
		font-size: 12px;
		font-weight: 400;
		margin-left: 20px;
		padding: 20px 0 0 40px;
		width: 200px;
		text-align: left;
	}
	.card-expl {
		float: left;
		height: 80px;
		margin: 20px 0;
		width: 800px;
	}
	.card-expl div {
		background-position: left 45px;
		background-repeat: no-repeat;
		height: 70px;
		padding-top: 10px;
	}
	.card-expl div.debit {
		background-image: url("../../img/openpay/cards2.png");
		margin-left: 20px;
		width: 540px;
	}
		.card-expl div.credit {
			background-image: url("../../img/openpay/cards1.png");
		
			border-right: 1px solid #ccc;
			margin-left: 30px;
			width: 209px;
		}
	.card-expl h4 {
		font-weight: 400;
		margin: 0;
	}

	.text-center{ text-align: center;}

.titulo{     font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;}


	.bkng-tb-cntnt a.button{
	width: 100%;
    margin: 30px 0px;
    padding: 10px 0px;
    font-weight: bold;
	background: rgba(41,170,226,1);
    background: -moz-linear-gradient(left, rgba(41,170,226,1) 0%, rgba(13,48,130,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,170,226,1)), color-stop(100%, rgba(13,48,130,1)));
    background: -webkit-linear-gradient(left, rgba(41,170,226,1) 0%, rgba(13,48,130,1) 100%);
    background: -o-linear-gradient(left, rgba(41,170,226,1) 0%, rgba(13,48,130,1) 100%);
    background: -ms-linear-gradient(left, rgba(41,170,226,1) 0%, rgba(13,48,130,1) 100%);
    background: linear-gradient(to right, rgba(41,170,226,1) 0%, rgba(13,48,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29aae2', endColorstr='#0d3082', GradientType=1 );
	}



	@@media(max-width:768px){
		.card-expl,.pymnt-cntnt div.sctn-row div.sctn-col.l,.pymnt-cntnt div.sctn-row div.sctn-col.cvv,.pymnt-cntnt div.sctn-row,.openpay{
			width:100% !important; margin:0px !important;}

		.bkng-tb-cntnt{width:100% !important; margin:0px !important;}
		.pymnt-itm {
    margin: 0 0 3px;
    width: 100%;
}


.card-expl, .pymnt-cntnt div.sctn-row div.sctn-col.l, .pymnt-cntnt div.sctn-row div.sctn-col.cvv, .pymnt-cntnt div.sctn-row, .openpay {
    width: 100%;
    margin: 20px 0px 0px 0px;
	height:auto;
	border-right:0px;
}
		.pymnts{width:100%; margin:0px;}

		.card-expl div.credit,.card-expl div.debit{ margin-lefT:0px; width:100%; height:90px !important; border-right:0px; }

		.openpay div.shield{ width: 85%; margin-lefT: 5%; text-align: lefT; margin:20px 10px; }

		.pymnt-cntnt div.sctn-row div.sctn-col{ width:100%; margin-top:20px; }


		.openpay div.logo{    padding: 0px 0px 0px 15px;
		width: 100%;
		text-align: left;
		background-position: 15px bottom;
			border-right:0px;
		}

		.sctn-col label{ margin-top:10px; margin-bottom:10px;}
		.pymnt-cntnt div.sctn-row div.sctn-col.half input{width:100%; max-width:100%;}
		.pymnt-cntnt div.sctn-row div.sctn-col.half.l{width:50%;}
		.pymnt-cntnt div.sctn-row div.sctn-col input{width:100%; margin:5px 0px; }

		.pymnt-itm.active div.pymnt-cntnt{ padding: 20px 15px;}

		.sin_padding_xs{ padding-lefT:0px; padding-right:0px;}

	.bkng-tb-cntnt a.button{
	width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    font-weight: bold;
	}


		.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
		background-position: 156px 55%;
		}
	}

</style>

<div style="background:#f7f7f7;" class="col w100 text-center">
	<div class="bkng-tb-cntnt">


		<div class="pymnts">
			<form action="#" method="POST" id="payment-form">
				<input type="hidden" name="token_id" id="token_id">
				<div class="pymnt-itm card active">
					<h2>Tarjeta de crédito o débito</h2>

					<div class="pymnt-cntnt">

						<div style="width:100%; padding-top:20px; padding-bottom:20px; float:lefT; width:100%; border-top:1px solid #ccc; border-bottom: 1px solid #ccc; margin:30px 0px;">

							<div class="col-xs-12 col-sm-6">
								<p class="titulo"><strong>Curso 1</strong></p>
								<p style="font-size:18px; margin:0px;">Pase personal - 1 Persona </p>
								<p style="font-size: 11px;
								color: #828282;
								text-align: left;
								margin-top: 5px;"><em>Incluye: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </em></p>
							</div>

							<div class="col-xs-12 col-sm-6">


								<div class="col-xs-12 col-sm- sin_padding_xs" style="margin:5px 0px;">
									<div class="col-xs-6 col-sm-6"> <p class="titulo" style="font-size:20px;"><strong>Costo del Curso</strong></p></div>
									<div class="col-xs-6 col-sm-6"><p style="font-size:20px; margin:0px;"> $ 1000 mxn </p></div>
								</div>

								<div class="col-xs-12 col-sm-12 sin_padding_xs" style="margin:5px 0px;">
									<div class="col-xs-6 col-sm-6"> <p class="titulo" style="font-size:20px;"><strong>IVA - 16%</strong></p></div>
									<div class="col-xs-6 col-sm-6"><p style="font-size:20px; margin:0px;"> $ 160 mxn </p></div>
								</div>

								<div class="col-xs-12 col-sm-12 sin_padding_xs">
									<div class="col-xs-6 col-sm-6"> <p class="titulo"><strong>Total</strong></p></div>
									<div class="col-xs-6 col-sm-6"><p style="font-size:22px; margin:0px;"> <strong> $ 1160 mxn </strong></p></div>
								</div>

							</div>

						</div>

						<div class="card-expl">
							<div class="credit"><h4>Tarjetas de crédito</h4></div>
							<div class="debit"><h4>Tarjetas de débito</h4></div>
						</div>
						<div class="sctn-row">
							<div class="sctn-col l">
								<label>Nombre del titular</label><input type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name">
							</div>
							<div class="sctn-col">
								<label>Número de tarjeta</label><input type="text" autocomplete="off" data-openpay-card="card_number">
							</div>
						</div>
						<div class="sctn-row">
							<div class="sctn-col l">
								<label>Fecha de expiración</label>
								<div class="sctn-col half l"><input type="text" placeholder="Mes" data-openpay-card="expiration_month"></div>
								<div class="sctn-col half l"><input type="text" placeholder="Año" data-openpay-card="expiration_year"></div>
							</div>
							<div class="sctn-col cvv">
								<label>Código de seguridad</label>
								<div class="sctn-col half l"><input type="text" placeholder="3 dígitos" autocomplete="off" data-openpay-card="cvv2"></div>
							</div>
						</div>
						<div class="openpay">
							<div class="logo">Transacciones realizadas vía:</div>
							<div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
						</div>
						<div class="sctn-row">
							<a class="button rght" id="pay-button">Pagar</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>


